In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
Data_Train = pd.read_excel( "Data_train.xlsx")
Test_set = pd.read_excel( "Test_set.xlsx")

In [8]:
Data_Train_len = len(Data_Train)

In [9]:
Data_Train_len

10683

In [10]:
Test_set_len = len(Test_set)

In [11]:
Test_set_len

2671

In [13]:
# joining the two tables

table = pd.concat([Data_Train, Test_set], ignore_index = True)

In [44]:
table

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2024-02-05 22:20:00,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,2024-02-05 05:50:00,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,2024-02-05 09:25:00,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,2019-12-05,Kolkata,Banglore,CCU → NAG → BLR,2024-02-05 18:05:00,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,2019-01-03,Banglore,New Delhi,BLR → NAG → DEL,2024-02-05 16:50:00,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
13349,Air India,2019-06-06,Kolkata,Banglore,CCU → DEL → BLR,2024-02-05 20:30:00,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13350,IndiGo,2019-03-27,Kolkata,Banglore,CCU → BLR,2024-02-05 14:20:00,16:55,2h 35m,non-stop,No info,NaN
13351,Jet Airways,2019-06-03,Delhi,Cochin,DEL → BOM → COK,2024-02-05 21:50:00,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13352,Air India,2019-06-03,Delhi,Cochin,DEL → BOM → COK,2024-02-05 04:00:00,19:15,15h 15m,1 stop,No info,NaN
13353,Multiple carriers,2019-06-15,Delhi,Cochin,DEL → BOM → COK,2024-02-05 04:55:00,19:15,14h 20m,1 stop,No info,NaN

In [45]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  datetime64[ns]
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  datetime64[ns]
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(8)
memory usage: 1.1+ MB

In [30]:
table.isna().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [20]:
table.duplicated().sum()

246

# DATA WRAGGLING

In [53]:
#drop duplicates
drop_duplicate= table.drop_duplicates()

In [46]:
# converting date of journey datatype to date 
table[Date_of_Journey] = pd.to_datetime(table["Date_of_Journey"])

NameError: name 'Date_of_Journey' is not defined

In [50]:
#to extract time from the date 
table["Date_of_Journey"].dt.month_name()

0            March
1          January
2        September
3         December
4          January
           ...
13349         June
13350        March
13351         June
13352         June
13353         June
Name: Date_of_Journey, Length: 13354, dtype: object

In [55]:
hour =0
minute = 0
#to covert the durationcolumn to list
r = table["Duration"].str.split()
for i in r:
    if len(i) == 1:
        if "".join(i).endswith("h")
            hour = "".join(i)[:-1]
            #print(hour)
        else:
            minute = "".join(i)
            rint(minute)
            
    else:
        hour = i[0]
        # print(hour)
        minute = i[1]

ValueError: Columns must be same length as key